In [3]:
import os

import matplotlib.pyplot as plt
import numpy as np
import dotenv

from tiled.client import from_uri


dotenv.load_dotenv()

client = from_uri("http://localhost:8000/api", api_key=os.getenv("TILED_SINGLE_USER_API_KEY"))
if client.get("runs") is None:
    client.create_container("runs")

In [12]:
client['runs'].keys().last()

'temporary scan namef536ddc8-1fe4-47a3-b596-4b44413a2af4'

In [13]:
run = client['runs']['temporary scan namef536ddc8-1fe4-47a3-b596-4b44413a2af4']

In [17]:
run['timer'].read()

    _compute_mean  _integrated_frames_pd_to_np  _send_result
0        0.000459                     0.000152      0.000111
1        0.000520                          NaN           NaN
2        0.000570                          NaN           NaN
3        0.000542                          NaN           NaN
4        0.000561                          NaN           NaN
..            ...                          ...           ...
63       0.000556                          NaN           NaN
64       0.000578                          NaN           NaN
65       0.000561                          NaN           NaN
66       0.000525                          NaN           NaN
67       0.000556                          NaN           NaN

[68 rows x 3 columns]